[Unit]
Description=Run TG11 Storefront Fulfillment Job Processor
Requires=storefront.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
Persistent=true

[Install]
WantedBy=timers.target
